<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>It's Always Sunny Now</title>
  <link rel="stylesheet" href="css/style.css">
  <script src='js/script.js'></script>
</head>
<body>
  <div><img class='main-img' src="http://i.imgur.com/zpYCgwF.png" alt=""></div>
  <p>Are you wondering what the gang is up to right at this very moment? Click the button to find out what kind of shinanigans they get into today</p>
  <button>What is the Gang doing</button>
  <div id='episode'></div>
</body>
</html>
