body {
  background-image: url(https://images7.alphacoders.com/679/679609.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-img {
  width: 55vw;
  margin-top: 3%;
}


p, h4{
  margin-left: 2%;
  font-family: lucida;
  font-size: 1rem;
  color:white;
  text-shadow: 2px 2px 2px black;
}

p {
  width: 30vw;
}
h4{
  font-weight: bolder;
  font-size: 2rem;
}

button {
  margin-left: 2%;
}

.poster-container{
  display: flex;

  /*justify-content: flex-start;*/
}

.poster-container div {
  flex: 1;
}

.poster-container p {
  flex: 3;
  margin-left: -23%;
  margin-right: 10%;
}

.ep-img {
  height: 100%;
  margin-left: 3%;
  margin-top: 0;
}

#episode {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 45vw;
}



button, select {
    color: #FFF;
    background: #bf9202;
    padding: 5px 10px;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 10px;
    /*font-weight: bold;*/
    letter-spacing: 1px;
    /*text-transform: uppercase;*/
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #F4BA01;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
select {
  display: inline-block;
}

button:hover {
    box-shadow: inset 0 100px 0 0 #F4BA01;
}
