body {
  background-image: url(https://images7.alphacoders.com/679/679609.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: 55vw;
  margin-top: 8%;
}

p{
  font-family: lucida;
  font-size: 1rem;
  color:white;
  text-shadow: 2px 2px 2px black;
  width: 30vw;
}
